<swx-message role="listitem" class="message showName their last spacesWelcomeMessage lastInBubble read participant swx-in-viewport" tabindex="-1" aria-relevant="all" data-id="1505910543632">
   <!-- ko ifnot: isMeCommandMessage -->
   <!-- ko if: showAuthorInfo --><!-- /ko -->
   <!-- /ko -->
   <!-- ko if: isCallActivityItem --><!-- /ko -->
   <div class="bubble">
      <!-- ko if: isSMS --><!-- /ko -->
      <!-- ko ifnot: isMeCommandMessage -->
      <!-- ko if: renderAuthorInfo --><!-- /ko -->
      <!-- /ko -->
      <div class="arrow"></div>
      <div class="content">
         <div class="welcomeMessage">
            <div class="loader load-container" ng-show="isPageBusy">
               <svg class="circular" viewBox="25 25 50 50">
                  <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10"/>
               </svg>
            </div>
            <div style="text-align: left;">
               <span class="emoticon hi large animated" style="display: inline-block;"><span class="emoSprite">(hi)</span>
               <img class="" alt="" width="40" height="40" aria-hidden="true" role="presentation" ng-src="{{currentPageAvatar}}" style="display: block;border-radius: 50%">
               </span>
               <div class="clickable" style="display: inline-block;">
                  <div class="title fontSize-h2 splitter">{{currentPageName}}</div>
               </div>
            </div>
            <div class="js-simple-collapse js-simple-collapse--description" data-ng-style="isPostExpanded && {'max-height':'none'}">
               <div class="js-simple-collapse-inner">
                  <div style="white-space: pre-line;display: block;font-size: 13px;line-height: 1.6;font-weight: 300; text-align: left;">
                     {{fbContent.message}}
                  </div>
                  <span class="js-wrapper-simple-collapse-more-btn" ng-show="isPostExpanded == false">
                  </span>
                  <button class="js-simple-collapse-more-btn btn  circle stroke" title="{{isPostExpanded == true ? 'Thu gọn' : 'Xem thêm'}}" ng-click="toggleExpandPost()" style="position: absolute;bottom: 5px;z-index: 10;margin-left: 10px;width: auto;    min-width: 130px;height: 30px;" ng-show="isPostExpanded == false">
                  <span class="iconfont" ng-class="isPostExpanded == true ? 'chevronUp' : 'chevronDown'" style="
                     display: inline-block;padding: 0;margin-top: -5px;" >
                  </span></button>
               </div>
            </div>
            <!-- ko if: isJoiningEnabled -->
            <swx-invite-link class="invite-link">
               <div class="inviteLink">
                  <!-- ko ifnot: uri --><!-- /ko -->
                  <!-- ko if: uri -->
                  <perfect-scrollbar class="scroller" suppressScrollY>
                     <div style="height: 150px;width:100%" >
                        <!-- The Gallery as lightbox dialog, should be a child element of the document body -->
                        <div id="links" class="product-gallery">
                           <a href="{{photo}}" class="post-attachment-item" title="Post Attachments Gallery" ng-repeat="photo in fbPhotos">
                           <img ng-src="{{photo}}" style="height: 140px;">
                           </a>
                        </div>
                     </div>
                  </perfect-scrollbar>
                  <!-- /ko -->
               </div>
            </swx-invite-link>
            <!-- /ko -->
         </div>
         <!-- ko if: showSpacesCTA -->
         <div class="ctas">
            <div class="cta clickable" ng-show="selectedOrder && selectedOrder.customer_message">
               <div class="title fontSize-h3 iconfont messageUnread">Customer Notes</div>
               <div class="description fontSize-p">{{selectedOrder.customer_message}}</div>
            </div>
            <div class="cta clickable" ng-show="selectedOrder && selectedOrder.admin_note">
               <div class="title fontSize-h3 iconfont warning">Admin Notes</div>
               <div class="description fontSize-p">{{selectedOrder.admin_note}}</div>
            </div>
         </div>
         <!-- /ko -->
         <!-- ko if: othersAddedMessageContent --><!-- /ko -->
         <!-- ko if: agentsMessageContent --><!-- /ko -->
      </div>
      <!-- ko ifnot: isMeCommandMessage -->
      <!-- ko if: isEdited --><!-- /ko -->
      <!-- /ko -->
      <!-- ko if: isDeleted --><!-- /ko -->
      <!-- ko if: messageDeliveryIndicatorEnabledSW4B --><!-- /ko -->
   </div>
   <!-- /ko -->
</swx-message>