<div class="shell notifications" id="notifications" aria-live="polite" aria-atomic="true" style="display: none">
    <div class="notification warning" role="alert" data-notification-id="1">
        <div class="iconfont"></div>
        <p> <a href="javascript:void(0);" class="strong" role="button">Vui lòng thay đổi mật khẩu mặc định để đảm bảo tính bảo mật cho tài khoản của bạn.</a>
        </p>
        <div class="close">
            <button class="btn transparent circle" type="btn" data-dismiss-id="1"><span class="iconfont cross" data-dismiss-id="1">Dismiss notification</span>
            </button>
        </div>
    </div>
</div>
        <!-- Preload -->
        <!-- <div class="pre-loading" style="background-color: #1f1f1f;width:100%;height:100%; position: absolute;top: 0; bottom: 0; left: 0; right: 0" ng-show="isAsideLoading">
            <div class="is-loading" style="height: 100%">
                <div class="loading-container" style="height: 100%">
                    <div class="loader" style="left: 50%;top: 50%">
                        <svg class="circular" viewBox="25 25 50 50" style="margin:0 auto">
                          <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10"/>
                        </svg>
                      </div>
                </div>
            </div>
        </div> -->

        <div class="ytp-spinner" data-layer="4" style="" ng-show="isAsideLoading">
           <div>
              <div class="ytp-spinner-container">
                 <div class="ytp-spinner-rotator">
                    <div class="ytp-spinner-left">
                       <div class="ytp-spinner-circle"></div>
                    </div>
                    <div class="ytp-spinner-right">
                       <div class="ytp-spinner-circle"></div>
                    </div>
                 </div>
              </div>
           </div>
           <div class="ytp-spinner-message" style="display: block;">
                Loading data from server, please wait...
            </div>
        </div>
        <!-- /Preload -->
        <!-- Body fade -->
        <div class="body-fade" ng-click="hideAllModals()"></div>
        <!-- /Body fade -->
        <div class="shell mainStage" id="shellMainStage" ng-hide="isAsideLoading">
            <div class="shell meComponent swx" id="meComponent">
                <div class="swxMe">
                    <swx-me-area>
                        <div class="Me" ng-class="showMeExpand==true ? 'Me--expanded' : ''">
                            <div class="Me-small">
                                <div class="Me-presenceStatus" tabindex="0" ng-click="toggleShowMeExpand()">
                                    <button class="btn secondary circle Me-openPresencePopup" type="button">
                                        <span class="iconfont chevronDown"></span>
                                    </button>
                                </div>
                                <div id="expandMeProfileLabel" class="offScreen">
                                    <span>User Name<!-- {{currentUser.first_name + ' ' + currentUser.last_name}} --></span>
                                    <span>Expand profile</span>
                                </div>
                                <div class="Me-skyContainer" ng-click="toggleShowMeExpand()">
                                    <div class="Me-sky"></div>
                                    <swx-avatar class="Me-avatar">
                                        <div role="button" class="Avatar Avatar--size40 Avatar--presence Avatar--more Avatar--defaultAvatar" tabindex="" >
                                            <img class="Avatar-image" alt="" aria-hidden="true" role="presentation" ng-src="{{firebaseUser.photoURL ? firebaseUser.photoURL : 'public/images/default-avatar-contact.svg'}}" style="display: block;">
                                        </div>
                                    </swx-avatar>
                                    <div class="Me-info">
                                        <span class="Me-displayNameContainer">
                                         <p aria-labelledby="expandMeProfileLabel" class="Me-displayName fontSize-h3 strong" role="button" tabindex="0"><!-- {{currentUser.first_name + ' ' + currentUser.last_name}} -->{{currentMember.first_name + ' ' + currentMember.last_name}}</p>
                                         <!-- ko if:displayBalance() --><!-- /ko -->
                                      </span>
                                        <p class="Me-moodMessage" role="button" tabindex="0">{{currentMember.email}}</p>
                                    </div>
                                </div>
                            </div>
                            <!-- ko if: isExpanded ()-->
                            <!-- /ko -->
                            <div class="Me-large" ng-class="showMeExpand==true ? 'Me-large--visible' : ''">
                                <div class="Me-info">
                                    <button class="btn secondary circle Me-collapseBtn" type="button" ng-click="toggleShowMeExpand()" aria-label="Collapse profile">
                                        <span class="iconfont chevronUp">Collapse profile</span>
                                    </button>
                                    <p class="Me-displayName fontSize-h3 strong" ng-click="toggleShowMeExpand()">{{currentMember.first_name + ' ' + currentMember.last_name}}</p>
                                    <p class="Me-availability">{{currentMember.email}}</p>
                                </div>
                                <div class="Me-content col-md-12">
                                    <div class="Me-avatarContainer col-md-3">
                                        <swx-avatar class="Me-avatar Me-avatar--large Avatar--fogTheme">
                                            <div role="button" class="Avatar Avatar--size260 Avatar--presence Avatar--more"  tabindex="">
                                                <img class="Avatar-image" alt="" aria-hidden="true" role="presentation" ng-src="{{firebaseUser.photoURL ? firebaseUser.photoURL : 'public/images/default-avatar-contact.svg'}}" style="display: block;">

                                            </div>
                                        </swx-avatar>
                                        <!-- <swx-avatar-file-picker class="Me-avatarFilePicker"><div data-bind="visible: avatarUploadSupported" style="max-height: 50%">
                                            <button class="avatarOpenFilePickerInput" title="Login Facebook to set Profile Picture" aria-label="Set Avatar" data-focusmanager="1" ng-click="getMyAvatar()"></button>
                                            <span class="avatarFilePickerButton">
                                                <span class="btn primary circle protected picturePickerBtn">
                                                    <span class="iconfont picturePicker picture"></span>
                                                </span>
                                            </span>
                                        </div>
                                        </swx-avatar-file-picker> -->
                                        <!-- <input type="file" id="fileButton" class="inputfile"/> -->
                                        <div class="upload-avatar">
                                            <input type="file" name="select-avatar[]" id="select-avatar" class="inputfile inputfile-3" data-multiple-caption="{count} files selected" multiple />
                                            <label for="select-avatar"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="17" viewBox="0 0 20 17"><path d="M10 0l-5.2 4.9h3.3v5.1h3.8v-5.1h3.3l-5.2-4.9zm9.3 11.5l-3.2-2.1h-2l3.4 2.6h-3.5c-.1 0-.2.1-.2.1l-.8 2.3h-6l-.8-2.2c-.1-.1-.1-.2-.2-.2h-3.6l3.4-2.6h-2l-3.2 2.1c-.4.3-.7 1-.6 1.5l.6 3.1c.1.5.7.9 1.2.9h16.3c.6 0 1.1-.4 1.3-.9l.6-3.1c.1-.5-.2-1.2-.7-1.5z"/></svg> <span>Upload a photo&hellip;</span></label>
                                        </div>

                                        <div class="Me-accountInfoWrapper">
                                            <p class="Me-skypename" tabindex="0">Select a photo to upload and set as your avatar</p>
                                        </div>
                                        <a class="Me-link" href="" aria-label="Manage account" ng-click="toggleShowPasswordEditBox()">
                                            <span class="iconfont edit Me-linkIcon"></span>
                                            <span class="fontSize-h3 Me-linkText">Change Password</span>
                                        </a>
                                        <div class="changePasswordPanel" ng-show="showPasswordEditBox">
                                            
                                            <div class="Me-link changePasswordBox">
                                                <input class="oldPassword" maxlength="18" type="password" placeholder="Mật khẩu cũ" ng-model="oldPassword">
                                            </div>
                                            <span class="passwordMessage">Nhập mật khẩu mới từ 8-12 ký tự</span>
                                            <div class="Me-link changePasswordBox">
                                                <input class="newPassword" maxlength="18" type="password" placeholder="Mật khẩu mới" ng-model="newPassword" ng-change="validationNewPassword()">
                                            </div>
                                            <div class="Me-link changePasswordBox confirmPassword">
                                                <input class="newPassword" maxlength="18" type="password" placeholder="Nhập lại mật khẩu" ng-model="confirmNewPassword" ng-change="validationNewPassword()">
                                            </div>
                                            <div class="actions">
                                              <div class="submitPassword">
                                                 <swx-button>
                                                    <button type="button" role="button" class="btn secondary circle" title="Cancel" aria-label="Cancel" ng-click="hidePasswordEditBox()">
                                                       <span>Cancel</span>
                                                       <!-- ko if: showMenuOptions --><!-- /ko -->
                                                    </button>
                                                 </swx-button>
                                                 <swx-button>
                                                    <button type="button" role="button" class="btn primary circle disabled" title="Submit" aria-label="Submit" ng-class="validNewPassword ? '' : 'disabled'" ng-click="updateFirebaseUserPassword()">
                                                       <span>Submit</span>
                                                       <!-- ko if: showMenuOptions --><!-- /ko -->
                                                    </button>
                                                 </swx-button>
                                              </div>
                                           </div>
                                        </div>
                                        <a class="Me-link" ng-click="signOut()" aria-label="Sign out">
                                            <span class="iconfont signOut Me-linkIcon"></span>
                                            <span class="fontSize-h3 Me-linkText">Sign out {{currentMember.last_name}}</span>
                                        </a>
                                    </div>
                                    <!-- Chart -->
                                    <div class="Me-chartarea col-md-5">
                                        <highchart config="chartConfig"></highchart>
                                        <!-- Dữ liệu tạm thời không hiển thị -->
                                        
                                    </div>
                                    <!-- /Chart -->
                                    <!-- Seller data -->
                                    <div class="Me-data col-md-4" ng-hide>
                                        <!-- Tab -->
                                        <ul role="tablist" class="ContactsPage-categories">
                                           <li role="tab" class="ContactsPage-categoryItem" ng-repeat="item in sellerDataStatuses track by $index">
                                              <swx-contact-list-menu-item>
                                                 <p>
                                                     <!-- MenuItem-link  selected -->
                                                    <a href="javascript:void(0);" class="strong MenuItem-link" ng-class="activedDataStatus == item.value ? 'MenuItem-link--selected' : ''" ng-click="toggleActivedDataStatus(item.value)">{{item.title}}</a>
                                                 </p>
                                              </swx-contact-list-menu-item>
                                           </li>
                                        </ul>
                                        <!-- /Tab -->
                                        <!-- Tab content -->
                                        <div class="Me-data-content">
                                            <perfect-scrollbar class="scroller">
                                                <div class="data-items">
                                                    <div class="data-item" ng-repeat="item in currentDataDisplay[0] track by $index">
                                                        <div class="mobile" ng-class="item.status_id == 6 ? 'success' : ''">
                                                            <span>
                                                                {{item.buyer_mobile}}
                                                            </span>
                                                        </div>
                                                        <div class="name">
                                                            <span>{{item.buyer_name}}</span>
                                                        </div>
                                                        <div class="source">
                                                            <span>{{getSourceFromId(item.order_source_id).short_title}}</span>
                                                        </div>
                                                        <div class="pack">
                                                            <span>{{getPackFromId(item.product_pack_id).short_title
                                                            + '/' + getPackFromId(item.product_pack_id).price
                                                            + 'K'}}</span>
                                                        </div>

                                                    </div>
                                                </div>
                                            </perfect-scrollbar>
                                        </div>
                                        <!-- /Tab content -->
                                    </div>
                                    <!-- /Seller data -->
                                </div>
                                <div class="cc-credit">
                                    <div class="al-footer-right">MEOVN Ver {{appVersion}} - {{releaseDate}}. Created by Cá Cơm with 
                                        <span class="iconfont heart"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                    </swx-me-area>
                </div>
            </div>
            <div class="shell main" id="chatServiceContainer">
                <aside class="sideContainer">
                    <div class="timelineComponentContainer swx" id="timelineComponent" dir="ltr">
                        <div class="side themeWhite slideLeftToRight inactive">
                            <swx-sidebar>

                                <!-- {{-- Toolbar --}} -->
                                <div class="navigation afterSearch">
                                    <div role="menubar" class="navigationMenuIcons">
                                        <swx-menu-item role="presentation">
                                            <a href="javascript:void(0);" role="menuitem" class="navItem icon" ng-class="{active: isShowAll}" aria-label="Settings" id="menuItem-userSettings" style="" tabindex="-1" ng-click="toggleShowAll()">
                                                <span class="icon">
                                                    <span class="iconfont menu">
                                                    </span>
                                                </span>
                                                <span class="text">
                                                    <h4>Tất cả</h4>
                                                </span>
                                            </a>
                                        </swx-menu-item>
                                        <swx-menu-item role="presentation" ng-repeat="status in ordersStatusesForFilter">
                                            <a role="menuitem" class="navItem icon" ng-class="{active: activeStatus == status}" aria-label="Contacts" id="menuItem-contacts" style="" tabindex="-1" data-focusmanager="184" ng-click="toggleActiveStatus(status)" tooltips tooltip-template="{{status.name}}" tooltip-side="bottom">
                                                <span class="icon">
                                                    <span class="iconfont {{status.icon_class}}"></span>
                                                </span>
                                                <span class="text">
                                           <h4>{{status.name}}</h4>
                                        </span>
                                            </a>
                                        </swx-menu-item>
                                        
                                        <swx-menu-item role="presentation">
                                            <a role="menuitem" class="navItem icon" aria-label="Settings" id="menuItem-userSettings" ng-class="showMyOrders ? 'active' : ''" style="" tabindex="-1" ng-click="toggleShowMyOrders()" tooltips tooltip-template="Orders của tôi" tooltip-side="bottom">
                                                <span class="icon">
                                                    <span class="iconfont heart">
                                                        
                                                    </span>
                                                </span>
                                                <span class="text">
                                                    <h4>Order của tôi</h4>
                                                </span>
                                            </a>
                                        </swx-menu-item>
                                       
                                    </div>
                                  
                                </div>
                                <div class="asideSplitter"></div>
                                <!-- {{-- /Toolbar --}} -->
                                <div class="search beforeMenuItems">
                                    <swx-search-input>
                                        <div class="input">
                                            <div class="icon">
                                                <div class="iconfont search"></div>
                                            </div>
                                            <input role="search" type="text" maxlength="250" value="" name="query" class="inputField fontSize-h4" placeholder="Enter mobile or name..." aria-label="Type name or mobile number." style="" id="order-search-box" ng-model="searchText">
                                            <button type="button" class="btn primary circle small transparent searchReset" aria-label="Clear search" ng-show="searchText && searchText >= 0" ng-click="resetSearch()">
                                                <span class="iconfont cross"></span>
                                            </button>
                                        </div>
                                        <!-- ko if: showMoreResultsAvailableMessage() -->
                                        <!-- /ko-->
                                    </swx-search-input>
                                    <div class="splitter"></div>
                                </div>
                                <!-- {{-- Order List --}} -->
                                <swx-recents class="timeline">
                                    <div class="loader" style="width: 100%;height: 20px;padding-top: 30px;margin-top: 15px;display: none">
                                        <svg class="circular" viewBox="25 25 50 50" style="margin:0 auto">
                                          <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10"/>
                                        </svg>
                                      </div>

                                    <div class="ltroverride" style="height: 100%; position: relative;">
                                        <div class="history fixSmall" style="height:100%;">

                                            <perfect-scrollbar class="scroller">
                                                <div class="recents" role="menu" style="height: 100%;"> 
                                                    <!-- {{-- Recent items by aj --}} -->
                                                    <div>
                                                        <div class="order" ng-repeat="order in orders | my_filter:this" style="height: 100%" ui-sref="home.details({id : order.id, mobile:order.buyer_mobile, seller: order.seller_will_call_id || 'not-asigned'})">
                                                            <!-- {{-- Loading --}}
                                                            {{-- /Loading --}}
                                                            {{-- Begin Item --}} -->
                                                            <swx-recent-item role="group" class="list-selectable">
                                                                <a ng-class="{active: order == selectedOrder}" class="recent Avatar-whiteThemeHover message read" ng-click="active(order)" role="menuitem">
                                                                    <swx-avatar class="avatar Avatar--whiteTheme">
                                                                        <div role="button" ng-class="{{getOrderStatusForOrder(order)}}" class="Avatar Avatar--presence 
                                                             Avatar--{{getOrderStatusForOrder(order)}} Avatar--defaultAvatar"  tabindex="">
                                                                            <!-- <img class="Avatar-image" alt="" aria-hidden="true" role="presentation" ng-src="public/images/default-avatar-contact.svg" style="display: block;"> -->
                                                                        </div>
                                                                    </swx-avatar>
                                                                    <div class="text">
                                                                        <span class="arrow"></span>
                                                                        <span class="tile" aria-hidden="true">
                                                                <span class="tileName">
                                                                   <h4>
                                                                      <!-- ANTONMAG: Do not change it to HTML Binding! -->
                                                                      <span class="topic-buyer-name" title="" data-buyer-name="">{{ order.buyer_name }}</span>
                                                                        <!-- ko if: model.isCertifiedAgent -->
                                                                        <!-- /ko -->
                                                                        </h4>
                                                                        </span>
                                                                        </span>

                                                                        <!-- ko if: model.isRead -->
                                                                        <span class="tile">
                                                                <span class="tileMessage circle">
                                                                   <!-- ko if: model.displayMessage() -->
                                                                   <div class="message">
                                                                      <p tabindex="-1">
                                                                        {{getSourceFromId(order.order_source_id).short_title + '~' + getPackFromId(order.product_pack_id).short_title
                                                                        + '/' + getPackFromId(order.product_pack_id).price
                                                                        + 'K' + '~' + order.buyer_mobile}}
                                                                      </p>
                                                                   </div>
                                                                   <!-- /ko -->
                                                                </span>
                                                                        </span>
                                                                        <div class="notificationsDisabledIndicator" aria-hidden="true">
                                                                            <span class="list-seller-name {{order.seller_will_call_id != null ? 'visible' : ''}}" title="{{findUser(order.seller_will_call_id).last_name}}">
                                                                                {{findUser(order.seller_will_call_id).last_name.charAt(0)}}
                                                                            </span>

                                                                            <button type="button" ng-hide="order.seller_will_call_id" ng-click="addToFavourite($event, order)" class="btn primary circle small transparent searchReset" aria-label="Clear search" style="/* display: none; */" id="pull-order-btn" title="Thêm vào danh sách của tôi"> <span class="iconfont plus"></span> </button>
                                                                            <button type="button" ng-show="userCanReleaseOrChangeStatus(order) && order.seller_will_call_id" ng-click="releaseOrder($event, order)" class="btn primary circle small transparent searchReset" aria-label="Clear search" style="/* display: none; */" id="pull-order-btn" title="Hủy nhận Order"> <span class="iconfont cross"></span> </button>
                                                                        </div>
                                                                    </div>
                                                                </a>
                                                            </swx-recent-item>
                                                            <!-- {{-- /End item --}} -->
                                                        </div>
                                                    </div>

                                                </div>
                                            </perfect-scrollbar>
                                            <!-- ko if: recentConversations().length == 0 -->
                                            <!-- /ko -->
                                        </div>
                                    </div>
                                    <!-- ko if: hasNotificationsToggle || hasButtonFullSize || hasBetaLabel || hasFeedbackIcon -->
                                    <!-- /ko -->
                                    <script type="text/html" id="recent-template">
                                        <!-- ko if: $parent.showSeparatorIcon($index()) -->
                                        <div role="heading" class="splitter">
                                            <span class="icon iconfont favourite"></span>
                                        </div>
                                        <!-- /ko -->

                                        <!-- ko if: $parent.showSeparator($index())-->
                                        <div role="heading" class="separator">
                                            <p class="strong"></p>
                                        </div>
                                        <!-- /ko -->

                                        <swx-recent-item role="group" class="list-selectable"></swx-recent-item>
                                    </script>
                                </swx-recents>
                                <!-- {{-- /Order list --}} -->
                            </swx-sidebar>
                        </div>
                    </div>
                </aside>
                <div class="no-order-select" ng-hide="selectedOrder">
                    <div class="no-order-message">
                        <span>
                            {{pleaseWaitMessage}}
                        </span>
                    </div>
                </div>
                <ui-view></ui-view>
            </div>
            <div class="showHelpPanelActions">
                <button type="button" role="button" class="btn circle large closeAction" title="Close" aria-haspopup="true" ng-click="showHelpPanel()" tooltips tooltip-template="Get supported from Adsministrators" tooltip-side="left" style="display: block !important">
                        <span class="iconfont happy"></span>
                </button>
                <div class="toggle-btn-search" style="display: block !important">
                    <a href="/search" target="_blank">
                        <span class="iconfont search"></span>
                    </a>
                </div>
            </div>


            <div class="suggested-actions" ng-class="isShowHelpPanel==true ? 'active' : ''">         
                <div class="suggest-header">
                    <button type="button" role="button" class="header-item btn transparent circle actionButton closeAction" title="Close" aria-haspopup="true" ng-click="closeHelpPanel()">
                        <span class="iconfont cross"></span>
                    </button>
                    <span class="header-item header-title">Support Center</span>
                    
                </div>
                <div class="support-container">

                    <!-- <div class="report-title">Your requests today</div> -->
                    <div class="support-items">
                        <div class="s-item" ng-repeat="r in requests track by $index" ng-class="r.status==1 ? 'pendding' : (r.status==2 ? 'resolved' : 'rejected')">
                            <div class="s-header">{{r.created_at | date:'HH:mm dd-MM'}} by {{findUser(r.fromSeller).last_name}} for: {{r.buyer_mobile + '/' + r.buyer_name}}</div>
                            <div class="s-content">#{{$index+1}} {{r.content}}</div>
                            
                            <div class="s-status">
                                <span class="iconfont" ng-class="r.status==1 ? 'question' : (r.status==2 ? 'tick' : 'blockNotification')" tooltips tooltip-template="{{r.status==1 ? 'Pendding' : (r.status==2 ? 'Resolved' : 'Rejected')}}" tooltip-side="left"></span>
                            </div>
                            <div class="s-response" style="font-size: 12px;font-weight: 200;color: #999;" ng-if="r.status==3">
                                <span>Request bị từ chối xử lý do không hợp lệ</span>
                            </div>
                            <div class="s-response" style="font-size: 12px;font-weight: 200;color: #999;" ng-if="r.status==2">
                                <span>Request của bạn đã được xử lý</span>
                            </div>
                            <div class="s-response" style="font-size: 12px;font-weight: 200;color: #999;" ng-if="r.status==1">
                                <span>Request đang chờ xử lý</span>
                            </div>
                        </div>
                        
                         <p class="ContactsPage-hint">{{ selectedOrder ? 'Get supported for: ' + selectedOrder.buyer_name : 'To get supported you must select an order'}} 
                            <span style="color: #00AFF0">{{selectedOrder.buyer_mobile}}</span>
                        </p>
                    </div>
                </div>
                <!-- Typing -->
                <div class="typing-area">
                    <input class="typing-box" type="text" name="" ng-model="requestContent" placeholder="Type request content here..." request-enter="request()">
                </div>
                <!-- /Typing -->
            </div>
            <div id="blueimp-gallery" class="blueimp-gallery blueimp-gallery-controls">
                <div class="slides"></div>
                <h3 class="title"></h3>
                <a class="prev iconfont navigationBack"></a>
                <a class="next iconfont navigationForward"></a>
                <a class="close">×</a>
                <a class="play-pause"></a>
                <ol class="indicator"></ol>
            </div>
        </div>