:root .swx .scroller {
    position: relative; /* relative or absolute positioning required by Perfect Scrollbar */
    max-height: 100%;  /* height must be limited to induce scrolling behavior */
}
:root .swx .suggested-actions .suggest-header{
    position: relative;
    height: 60px;
    background: #191919;
}
:root .swx .suggested-actions .suggest-header .header-item{
    position: relative;
    margin: 10px 5px;
    display: inline-block !important;
}
:root .swx .suggested-actions .suggest-header .header-title{
    font-size: 22px;
    line-height: 40px;
    font-weight: 300;
    color: #fff;
    margin-left: 20px;
}
:root .swx .suggested-actions .support-wellcome-message{
	font-size: 13px;
	font-weight: 300;

}

:root .swx.desktop.dark .ContactsPage-hint{
	font-size: 13px;
	float: left;
	margin-top: 15px;
	margin-left: 15px;
}

:root .swx .suggested-actions .support-container{
    padding: 10px 0;
    height: calc(100% - 150px);
    display: block;
    position: relative;
    /* bottom: 75px; */
    top: 60px;
}
:root .swx .suggested-actions .suggest-header{
    position: absolute;
    width: 100%;
    height: 60px;
    background: #333;
    z-index: 12;
}
:root .swx .suggested-actions .suggest-header .header-title{
    font-weight: 300;
    font-size: 18px;
}
:root .swx .suggested-actions .support-container .support-items{
    font-size: 14px;
    font-weight: 400;
    width: 100%;
    position: absolute;
    display: block;
    overflow-y: auto;
    top: 0;
    z-index: 1;
    bottom: 0;
    padding: 0;
    height: 100%;
}
:root .swx .suggested-actions .support-container .report-title{
	font-weight: 300;
    font-size: 18px;
    padding: 10px 20px;
    margin-top: 60px;
}
:root .swx .suggested-actions .support-container .support-items .s-item{
    display: block;
    border-bottom: 1px solid #393939;
    padding: 10px 10px 10px 20px;
}
:root .swx .suggested-actions .support-container .support-items .s-item .s-content{
    display: inline-block;
    line-height: 30px;
    color: #888;
    width: 85%;
}

:root .swx .suggested-actions .support-container .support-items .s-item.resolved .s-status{
	color: #7fba00
} 
:root .swx .suggested-actions .support-container .support-items .s-item.rejected .s-content{
	text-decoration: line-through;
} 
:root .swx .suggested-actions .support-container .support-items .s-item.rejected .s-status{
	color: #e81123
} 
:root .swx .suggested-actions .support-container .support-items .s-item .s-status{
    width: 30px;
    height: 30px;
    bottom: 0;
    display: inline-block;
    float: right;
    margin-right: 10px;
    font-size: 29px;
}
:root .swx .suggested-actions .support-container .support-items .s-item .s-header{
	display: block;
	font-size: 12px;
	font-weight: 300;
	color: #00AFF0
}
:root .swx .suggested-actions .support-container .support-items .s-item .response-content{
    font-size: 13px;
    font-style: italic;
    font-weight: 300;
    color: #888;
}
:root .swx .suggested-actions .support-container .support-items .s-item .response-content:before{
    font-family: SkypeUISymbol;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: "îŒ­";
    display: inline-block;
    vertical-align: text-top;
    font-size: 21px;
}
:root .swx.desktop.dark .btn.closeAction:before{
    background-color: #667486;
}

:root .swx .showHelpPanelActions .closeAction.notify:after{
    display: block;
    width: 10px;
    height: 10px;
    font-size: 0;
    position: absolute;
    border: 3px solid #ff8c00;
    background-color: #ff8c00;
    z-index: 2;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    bottom: 0;
    top: 4px;
    left: 1px;
}
:root .swx .suggested-actions .suggest-header .header-item.closeAction{
    float: right
}
:root .swx .suggested-actions .typing-area{
        position: absolute;
    bottom: 0;
    width: 100%;
    padding: 5px;
    background: #262626;
    width: 95%;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: left;
    justify-content: left;
    -ms-flex-pack: left;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    padding: .8em 0 .25em 1em;
    overflow-x: visible;
    border-top: 1px solid #393939;
    z-index: 10
}

:root .swx .suggested-actions .typing-area input{
    -webkit-box-flex: 1 1 120px;
    -moz-box-flex: 1 1 120px;
    -webkit-flex: 1 1 120px;
    -ms-flex: 1 1 120px;
    flex: 1 1 120px;
    margin-bottom: .6em;
    display: inline-block;
    position: relative;
    top: -.15em;
    background-color: transparent;
    border: 2px solid transparent;
    color: #fff;
    margin-left: .1em;
    padding: .5em;
    padding-top: .35em;
    font-size: 15px;
    font-weight: 300;
}
:root .swx .suggested-actions .typing-area input::-ms-clear {
    display: none
}

.inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.inputfile + label {
    max-width: 80%;
    font-size: 1.25rem;
    /* 20px */
    font-weight: 700;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    padding: 0.625rem 1.25rem;
    /* 10px 20px */
}

.no-js .inputfile + label {
    display: none;
}

.inputfile:focus + label,
.inputfile.has-focus + label {
    outline: 1px dotted #000;
    outline: -webkit-focus-ring-color auto 5px;
}

.inputfile + label * {
    /* pointer-events: none; */
    /* in case of FastClick lib use */
}

.inputfile + label svg {
   width: 0.85em;
    height: 0.85em;
    vertical-align: bottom;
    fill: currentColor;
    margin-top: -0.25em;
    margin-right: 0.25em;
}


/* style 1 */

.inputfile-1 + label {
    color: #f1e5e6;
    background-color: #d3394c;
}

.inputfile-1:focus + label,
.inputfile-1.has-focus + label,
.inputfile-1 + label:hover {
    background-color: #722040;
}


/* style 2 */

.inputfile-2 + label {
    color: #d3394c;
    border: 2px solid currentColor;
}

.inputfile-2:focus + label,
.inputfile-2.has-focus + label,
.inputfile-2 + label:hover {
    color: #722040;
}


/* style 3 */

.inputfile-3 + label {
    color: #d3394c;
}

.inputfile-3:focus + label,
.inputfile-3.has-focus + label,
.inputfile-3 + label:hover {
    color: #722040;
}


/* style 4 */

.inputfile-4 + label {
    color: #d3394c;
}

.inputfile-4:focus + label,
.inputfile-4.has-focus + label,
.inputfile-4 + label:hover {
    color: #722040;
}

.inputfile-4 + label figure {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #d3394c;
    display: block;
    padding: 20px;
    margin: 0 auto 10px;
}

.inputfile-4:focus + label figure,
.inputfile-4.has-focus + label figure,
.inputfile-4 + label:hover figure {
    background-color: #722040;
}

.inputfile-4 + label svg {
    width: 100%;
    height: 100%;
    fill: #f1e5e6;
}


/* style 5 */

.inputfile-5 + label {
    color: #d3394c;
}

.inputfile-5:focus + label,
.inputfile-5.has-focus + label,
.inputfile-5 + label:hover {
    color: #722040;
}

.inputfile-5 + label figure {
    width: 100px;
    height: 135px;
    background-color: #d3394c;
    display: block;
    position: relative;
    padding: 30px;
    margin: 0 auto 10px;
}

.inputfile-5:focus + label figure,
.inputfile-5.has-focus + label figure,
.inputfile-5 + label:hover figure {
    background-color: #722040;
}

.inputfile-5 + label figure::before,
.inputfile-5 + label figure::after {
    width: 0;
    height: 0;
    content: '';
    position: absolute;
    top: 0;
    right: 0;
}

.inputfile-5 + label figure::before {
    border-top: 20px solid #dfc8ca;
    border-left: 20px solid transparent;
}

.inputfile-5 + label figure::after {
    border-bottom: 20px solid #722040;
    border-right: 20px solid transparent;
}

.inputfile-5:focus + label figure::after,
.inputfile-5.has-focus + label figure::after,
.inputfile-5 + label:hover figure::after {
    border-bottom-color: #d3394c;
}

.inputfile-5 + label svg {
    width: 100%;
    height: 100%;
    fill: #f1e5e6;
}


/* style 6 */

.inputfile-6 + label {
    color: #d3394c;
}

.inputfile-6 + label {
    border: 1px solid #d3394c;
    background-color: #f1e5e6;
    padding: 0;
}

.inputfile-6:focus + label,
.inputfile-6.has-focus + label,
.inputfile-6 + label:hover {
    border-color: #722040;
}

.inputfile-6 + label span,
.inputfile-6 + label strong {
    padding: 0.625rem 1.25rem;
    /* 10px 20px */
}

.inputfile-6 + label span {
    width: 200px;
    min-height: 2em;
    display: inline-block;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    vertical-align: top;
}

.inputfile-6 + label strong {
    height: 100%;
    color: #f1e5e6;
    background-color: #d3394c;
    display: inline-block;
}

.inputfile-6:focus + label strong,
.inputfile-6.has-focus + label strong,
.inputfile-6 + label:hover strong {
    background-color: #722040;
}

@media screen and (max-width: 50em) {
    .inputfile-6 + label strong {
        display: block;
    }
}
:root .swx .upload-avatar {
    padding-left: 25px !important;
    font-size: 14px !important;
}

:root .swx .Me-data{
    position: absolute;
    right: 15px;
    top: 70px;
    max-width: 450px;
    width: calc(100% - 351px - 600px);
    height: calc(100% - 70px);
}
:root .swx .Me-data .Me-data-content{
    width: 100%;
    height: calc(100% - 120px);
    padding: 15px 15px 0 0;
    position: relative
}
:root .swx .Me-data .Me-data-content .data-items{
    font-size: 13px;
    color: #888;
    border-top: 1px solid #393939;
    padding-top: 15px;
}
:root .swx .Me-data .Me-data-content .data-items .data-item{
    width: 100%;
    height: 30px;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}
:root .swx .Me-data .Me-data-content .data-items .data-item:hover{
    background: #444;
    border-radius: 5px;
}
:root .swx .Me-data .Me-data-content .data-items .data-item div{
    padding: 5px;
    width: 200px;
}
:root .swx .Me-data .Me-data-content .data-items .data-item .mobile.success span:after{
    font-family: SkypeUISymbol;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: "î’";
    display: inline-block;
    vertical-align: middle;
    font-size: 20px;
    margin-left: -5px;
    margin-top: -5px;
    color: #7fba00;
}
:root .swx .Me-data .Me-data-content .data-items .data-item div > span{
    line-height: 14px;
}